name: Streamlit RAG App CI/CD (Trivy + Deploy)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  contents: read
  security-events: write

concurrency:
  group: deploy-main
  cancel-in-progress: true

jobs:
  # ====================================
  #  Security & Lint Scan Job
  # ====================================
  security-scan:
    name: Security Scan (Trivy + Lint)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v5
        with:
          ref: ${{ github.head_ref || github.ref }}
          fetch-depth: 0  # important for Gitleaks

      - name: Set up Python environment
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install flake8 flake8-sarif pytest 
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

      - name: Test with pytest
        run: |
          export PYTHONPATH=$PYTHONPATH:$(pwd)
          pytest -v

      #- name: Sonar scan
      #  uses: SonarSource/sonarqube-scan-action@v6
      #  env:
      #    SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      #    SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
      #  with:
      #    args: >
      #      -Dsonar.projectKey=sonar
      #      -Dsonar.sources=.

      - name: Run Trivy vulnerability scanner (Table)
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'
          scan-ref: '.'
          ignore-unfixed: true
          severity: 'HIGH,CRITICAL'
          format: 'table'
          output: 'trivy-results.txt'

      - name: Upload Trivy results
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: trivy-results
          path: trivy-results.txt

      - name: Gitleaks Security Scan
        uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload results (only if secrets found)
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: gitleaks-report
          path: results.sarif

  # ====================================
  #  Deploy Job
  # ====================================
  deploy:
    name: Deploy Streamlit App
    runs-on: ubuntu-latest
    needs: security-scan  # run only after scan
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'  # only run after merge to main

    env:
      COHERE_API_KEY: ${{ secrets.COHERE_API_KEY }}
      PINECONE_API_KEY: ${{ secrets.PINECONE_API_KEY }}

    steps:
      - name: Checkout source code
        uses: actions/checkout@v5
        with:
          ref: ${{ github.head_ref || github.ref }}
      
      - name: Deploy to GCP VM
        uses: appleboy/ssh-action@v1.2.2
        with:
          host: ${{ secrets.GCP_HOST }}
          username: ${{ secrets.GCP_USER }}
          key: ${{ secrets.GCP_SSH_KEY }}
          envs: COHERE_API_KEY,PINECONE_API_KEY
          script: |
            chmod +x ./script.sh
            bash ./script.sh